{% load static %}
<!-- Sidenav -->
<nav id="main-sidenav" data-mdb-sidenav-init class="sidenav sidenav-sm shadow-1" data-mdb-hidden="false"
     data-mdb-accordion="true">
    <a class="ripple d-flex justify-content-center pt-4 pb-2" href="{% url 'adminmain' %}" data-mdb-ripple-init
       data-mdb-ripple-color="primary">
        <img
                src="{% static 'images/logo/logometrics.png' %}"
                height="30"
                alt="MDB Logo"
                loading="lazy"
                class="mt-0 rounded-pill"
        />
    </a>

    <hr class="hr">

    <ul class="sidenav-menu px-2 pb-5">

        <!-- Overview -->
        <li class="sidenav-item fs-4 fw-bold text-black">
            <a class="sidenav-link fs-5 " href="{% url 'homepage' %}">
                <i class="fas fa-home fa-fw me-3"></i><span>Main page</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
        </li>

        <!-- User Section -->
        <li class="sidenav-item pt-3">
            <span class="sidenav-subheading text-muted text-uppercase fw-bold">User</span>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-user fa-fw me-3"></i><span>User Profile</span>
            </a>
        </li>

        <!-- Management Section -->
        <li class="sidenav-item pt-3">
            <span class="sidenav-subheading text-muted text-uppercase fw-bold">Management</span>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-building fa-fw me-3"></i><span>Company Management</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-users fa-fw me-3"></i><span>User Management</span>
            </a>
        </li>

        <!-- Financial and Forecasting -->
        <li class="sidenav-item pt-3">
            <span class="sidenav-subheading text-muted text-uppercase fw-bold">Financial</span>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Financial Overview</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-exchange-alt fa-fw me-3"></i><span>Transactions</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Forecasting</span>
            </a>
        </li>

        <!-- Reporting and Analysis -->
        <li class="sidenav-item pt-3">
            <span class="sidenav-subheading text-muted text-uppercase fw-bold">Analysis</span>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-tasks fa-fw me-3"></i><span>KPI Management</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-file-alt fa-fw me-3"></i><span>Reports</span>
            </a>
        </li>

        <!-- Machine Learning and AI -->
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-robot fa-fw me-3"></i><span>Machine Learning</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-lightbulb fa-fw me-3"></i><span>AI Insights</span>
            </a>
        </li>

        <!-- Notifications -->
        <li class="sidenav-item pt-3">
            <span class="sidenav-subheading text-muted text-uppercase fw-bold">Communication</span>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-bell fa-fw me-3"></i><span>Notifications</span>
            </a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-sms fa-fw me-3"></i><span>Twilio Messaging</span>
            </a>
        </li>

        <!-- Administration and Settings -->
        <li class="sidenav-item pt-3">
            <span class="sidenav-subheading text-muted text-uppercase fw-bold">Administration</span>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="">
                <i class="fas fa-cog fa-fw me-3"></i><span>Settings</span>
            </a>
        </li>
    </ul>
</nav>
<!-- Sidenav -->

